header{
  background: rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
}

.cabecalio h2:nth-of-type(1) {
  padding: 20px 0 0 10px;
  font-size: 24px;
  font-weight: 200;
  margin: 0 0 0 30px;
}
.cabecalio button {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 50px;
  height: 50px;
  background: #1f2123;
  border: none;
  border-radius: 5px;
  font-size: 50px;
  color: #fff;
}
.menu {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 84px;
  margin: 0 30px 0 0;
}

.cabecalio button:hover {
  background: #3f4143;
}

.Linknav{
  display: flex;
  position: absolute;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0 30px 0 0;
}
.Nav{
  text-decoration: none;
  color: #fff;
}
.hidden {
  display: none;
}
.open{
  display: block;
}